.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 0;
}
.row_poster::-webkit-scrollbar {
  display: none;

}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge{
  max-height: 250px;
}
.row_posterLarge:hover{
  transform: scale(1.09);

}
.row{
  margin-left: 20px;
  margin-bottom: 0px;
  color:#fff;
  background-color: #111;
}
.row h1 {
  font-size: 1.2rem;
}