.banner {
  color: white;
  object-fit: contain;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 30px;
  z-index: 1;
}

.banner_contents {
  margin-left: 20px;
  padding-top: 140px;
  padding-bottom: 20px;
  max-width: 500px;
}

.banner_title {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 2px;
}

.banner_buttons {
  margin-top: 20px;
}

.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 25px;
  margin-right: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s;
}

.banner_button:hover {
  color: black;
  background-color: #e6e6e6;
}

.banner_description {
  width: 25rem;
  line-height: 1;
  padding-top: 1rem;
  font-size: 14px;
  max-height: 80px;
  padding-bottom: 8rem;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
